* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  width: 40%;

  background-color: rgb(65, 142, 146);
  border-radius: 20px;
  box-shadow: 8px 8px 12px 12px;
}
.input-section {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
  /* border: 1px solid black; */
}

img {
  height: 240px;
  width: 240px;
}
.result-main {
  box-shadow: 3px red;
  background-color: azure;
  width: 80%;
  margin: auto;
  margin-top: 10px;
  height: 480px;
}
.description {
  width: 25%;
  margin: auto;
}
h5 {
  color: yellow;
}

@media only screen and (min-width: 600px) and (max-width: 800px) {
  .input-section {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .textfield {
    width: 150px;
  }
  .container {
    width: 70%;
  }
}
@media only screen and (min-width: 400px) and (max-width: 600px) {
  .input-section {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .textfield {
    width: 150px;
  }
  .container {
    width: 70%;
  }
}
@media only screen and (min-width: 300px) and (max-width: 400px) {
  .input-section {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  h5 {
    color: yellow;
    /* font-size: 34px; */
  }
  .textfield {
    width: 150px;
  }
  .container {
    width: 80%;
    /* height: 80vh; */
  }
  /* .image {
    width: 100%;
    height: 50vh;
    display: "flex";
    align-items: "center";
    justify-content: "center";
    margin-top: "20px";
  } */
  img {
    height: 30vh;
    width: 30%;
  }
  .temp {
    display: "flex";
    align-items: "center";
    justify-content: "center";
    font-size: 15px;
  }
  .wind {
    display: "flex";
    align-items: "center";
    justify-content: "center";
    font-size: 15px;
  }
  .error {
    display: "flex";
    align-items: center;

    justify-content: "center";
    margin-top: "20px";
    margin-left: "25px";
  }
  .error-img {
    margin-left: 85px;
  }
}
